/**************************************************************************
 * Warning: All classes in this file are global, this is not a css module *
 **************************************************************************/

.ProseMirror {
  &:focus-visible {
    outline: none;
  }
  p {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0 0 0 2ch;
    li {
      &[data-level="1"] {
        list-style-type: circle;
        margin-left: 2ch;
      }
    }
  }
}
