$list-max-level: 10;
$circleBullets: "\2022", "\25E6", "\25AA";
$squareBullets: "\25AA", "\25AB", "\2022";
$diamondBullets: "\2B29", "\25C7", "\2022";

ul[data-node-type="unordered_list"] {
  margin: 0;
  padding: 0;
  list-style-type: none;
  > li {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 1ch;
    > * {
      grid-column: 2;
    }
    &::before {
      grid-column: 1;
      // fix: some browsers show a selection on the numbers
      user-select: none;
    }
  }
  @for $level from 0 through $list-max-level {
    > li[data-level="#{$level}"] {
      padding-left: $level * 24px;
      &::before {
        content: "#{nth($circleBullets, $level % length($circleBullets) + 1)}";
      }
    }
  }
}
